.group {
    width: 88%;
    margin: auto;
    padding-top: 36px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}


@media screen and (min-width: 768px) {

    .group {
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        column-gap: 20px;
    }
}

@media screen and (min-width: 1280px) {

    .group {
        max-width: 880px;
        grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
        column-gap: 17px;
        padding-top: 47px;
    }

}