.popup__content__button-save {
    margin-top: 45px;
    background-color: #000000;
    color: #FFFFFF;
    width: 238px;
    height: 46px;
    font-style: normal;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
}

.popup__content__button-save:hover {
    background: #000000;
    opacity: 0.8;
    border-radius: 2px;
}