.popup__span-error {
    font-weight: 400;
    font-size: .75em;
    line-height: 1.15;
    color: #f00;
    transition: .3s;
    min-height: 30px;
    padding: 3px 0;
    margin-left: 38px;
}

@media screen and (min-width: 768px) {

    .popup__span-error {
        width: 238px;
    }

}