.element__button {
    all: unset;
    background-image: url(../../../ìmages/element__botton.svg);
    width: 22px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
}

.element__button:hover {
    color: #FFFFFF;
    opacity: 60%;
}