.profile__info-rectangle__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
}

@media screen and (min-width: 1024px) {

    .profile__info-rectangle__title {
        font-size: 42px;
        line-height: 48px;
    }

}