.profile__info-redact {
    display: flex;
    text-align: center;
    padding-top: 22px;
}

@media screen and (min-width: 768px) {

    .profile__info-redact {
        margin: 0;
        padding-left: 30px;
        max-width: 336px;
        text-align: left;
    }

}

