.profile__info__rectangle{
    all:unset;
    background-image: url(../../../../ìmages/rectangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 17px;
    height: 17px;
    border: 1px solid #FFFFFF;
    margin: 0;
}